#
# SparkPost API Key (obtained from SparkPostat https://sparkpost.com):
#

apiKey=

#
# API endpoint URLs (the defaults should work in most cases:
#

#endpoint=

#
# Configuration:
#

# Pretty printing:

toStringMultiLine=false
toStringMultiLineIndentAmount=4
toStringSpaceAroundEquals=false
